<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header th:insert="blocks/header :: header"></header>
    <div class="alert alert-info mt-2">
        <h3>Bookies Web Application is an application for reading books</h3><br><br>
        <h5>Created for Spring Backend Midterm</h5>
    </div>
    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>
