<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5 ">
    <h1>Add blogs</h1>
    <form action="/blog/add" method="post">
        <input type="text" name="titleBlog" placeholder="Title" class="form-control"><br>
        <input type="text" name="anonsBlog" placeholder="Add Anons for book" class="form-control"><br>
        <textarea name="fullTextBlog" placeholder="Information about blog" class="form-control"></textarea><br>
        <button type="submit" class="btn btn-success">Add blog</button>
    </form>
</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>
